*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-text-size-adjust: 100%;
}

*[hidden] {
  display: none!important;
}

a,
address,
b,
blockquote,
body,
button,
dd,
div,
dl,
dt,
em,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
hr,
html,
i,
input,
ins,
legend,
li,
mark,
menu,
ol,
p,
strong,
td,
textarea,
th,
var,
video,
ul {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  font-size: 1em;
  font-style: normal;
  font-weight: inherit;
  font-family: inherit;
  text-align: inherit;
  color: inherit;
}

button,
fieldset,
hr,
img,
input,
textarea {
  border: none;
  background-color: transparent;
}

button::-moz-focus-inner {
  border: 0;
}

footer,
header,
main {
  display: block;
}

li {
  list-style: none;
}

html {
  height: 100%;
  background-color: #313E48;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body > svg {
  position: absolute;
}

svg,
symbol {
  overflow: visible;
  fill: currentColor;
}

button {
  overflow: visible;
  cursor: pointer;
}

button,
input,
textarea {
  line-height: inherit;
}

a[href^="mailto:"] {
  white-space: nowrap;
}

b {
  font-weight: 700;
}

p {
  margin: 1em 0;
}

table {
  margin: 1em 0;
}

p:first-child,
table:first-child {
  margin-top: 0!important;
}

p:last-child,
table:last-child {
  margin-bottom: 0!important;
}

video,
img {
  max-width: 100%;
  height: auto;
  display: block;
}

figure p {
  margin: 0!important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

*::selection {
  background-color: #FC622C;
  color: #fff;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.eot');
  src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Bold.woff2') format('woff2'), url('../fonts/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Semibold.eot');
  src: url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Semibold.woff2') format('woff2'), url('../fonts/Gilroy-Semibold.woff') format('woff'), url('../fonts/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.eot');
  src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Medium.woff2') format('woff2'), url('../fonts/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.eot');
  src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Regular.woff2') format('woff2'), url('../fonts/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #3A3A3A;
  background-color: #F9F9F9;
  min-width: 320px;
}

main {
  min-height: 100vh;
}

.h2 {
  margin-bottom: 38px;
  font-weight: 700;
  font-size: 60px;
  color: #1D263B;
}

/* Наследуем шрифты для инпутов и кнопок */

.w-100 {
  width: 100%;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */

*:focus:not(:focus-visible) {
  outline: none !important;
}

input[type='submit'] {
  -webkit-appearance: none;
  appearance: none;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ff622c;
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ff622c;
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.btn {
  position: relative;
  display: inline-block;
  padding: 20px 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  background-color: #FC622C;
  border-radius: 35px;
  text-decoration: none;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover,
.btn:active,
.btn a:focus {
  background-color: #bf3403;
}

.btn:disabled,
.btn.disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

.btn-blue {
  background-color: #2579A7;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue a:focus {
  background-color: #133c54;
}

.btn-blue-o {
  color: #2579A7;
  background-color: transparent;
  border: 1px solid #2579A7;
}

.btn-blue-o:hover,
.btn-blue-o:active,
.btn-blue-o a:focus {
  color: #fff;
  background-color: #2579A7;
}

.steps {
  padding-top: 138px;
  padding-bottom: 60px;
  background: url(../img/steps-bg.jpg) no-repeat center / cover;
}

.steps .h2 {
  margin-bottom: 38px;
}

.steps .h2-descr {
  margin-bottom: 63px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: #3A3A3A;
}

.steps__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  counter-reset: steps 0;
}

.steps__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.333333333333336% - 30px);
  position: relative;
  counter-increment: steps 1;
  margin-bottom: 64px;
  padding: 127px 40px 36px;
  border-radius: 20px;
  border: 1px solid rgba(37, 121, 167, 0.14);
  background: linear-gradient(227deg, #FFFFFF12 33%, #2579A736 100%);
  transition: box-shadow 0.5s ease;
}

.steps__item:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
}

.steps__item::before {
  position: absolute;
  display: block;
  content: "0" counter(steps) ".";
  left: 50%;
  margin-left: -54px;
  top: -54px;
  width: 108px;
  height: 108px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid rgba(37, 121, 167, 0.14);
  font-weight: 500;
  font-size: 40px;
  line-height: 108px;
  text-align: center;
}

.steps__item:last-child {
  padding-top: 75px;
}

.steps__item:last-child img {
  margin-bottom: 10px;
  border-radius: 37px;
}

.steps__item:last-child::before {
  content: '';
  background: #fff url(../img/steps-last.svg) no-repeat center;
}

.steps__icon {
  position: absolute;
  left: 40px;
  top: 56px;
}

.steps__title {
  margin-bottom: 17px;
  font-size: 24px;
  line-height: 1;
  font-weight: 500;
  color: #3A3A3A;
}

.steps__descr {
  font-size: 16px;
  min-height: 144px;
  color: rgba(58, 58, 58, 0.8);
}

.steps .btn {
  padding: 26px 30px;
  font-size: 18px;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

.projects {
  padding-top: 107px;
  padding-bottom: 123px;
}

.projects .h2 {
  margin-bottom: 70px;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: space-between;
}

.projects__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  margin-bottom: 55px;
}

.projects__img {
  margin-bottom: 23px;
  border-radius: 20px;
}

.projects__link {
  display: block;
  width: 100%;
  height: 366px;
  border-radius: 20px;
  overflow: hidden;
}

.projects__link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.projects__link img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects__info {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 19px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #3A3A3A;
}

.projects__left,
.projects__right {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

.projects__name {
  font-size: 32px;
  font-weight: 500;
  color: #010101;
  order: 1;
}

.projects__square {
  order: 2;
}

.projects__price {
  font-size: 24px;
  font-weight: 500;
  color: #010101;
  order: 3;
}

.projects__descr {
  margin-bottom: 40px;
}

.projects__options {
  -webkit-column-width: 48%;
          column-width: 48%;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 4%;
          column-gap: 4%;
}

.projects__btns {
  display: flex;
  justify-content: space-between;
}

.projects__btns .btn {
  padding: 20px;
}

.projects__btns .btn + .btn {
  margin-left: 18px;
}

.projects__btns-all {
  text-align: center;
}

.news {
  padding-top: 120px;
  padding-bottom: 132px;
  background-color: #fff;
}

.news__title {
  margin-bottom: 52px;
  font-size: 36px;
  font-weight: 600;
  color: #303030;
  text-transform: uppercase;
}

.news .slick-dots {
  position: absolute;
  bottom: -43px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.news .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.news .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.news .slick-dots li button:before {
  line-height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: '';
  text-align: center;
  background: #DDDDDD;
  border-radius: 50%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.news .slick-dots li.slick-active button:before {
  background-color: #2579A7;
}

.news .slick-arrow {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
}

.news .slick-prev {
  left: -10px;
}

.news .slick-next {
  right: -10px;
}

.news .slick-prev:before,
.news .slick-next:before {
  display: block;
  content: '';
  font-size: 0;
  line-height: 1;
  color: #000000;
  width: 40px;
  height: 40px;
}

.news .slick-prev:before {
  background: url(../img/nimbus_chevron-down.svg) no-repeat center / contain;
}

.news .slick-next:before {
  background: url(../img/nimbus_chevron-down.svg) no-repeat center / contain;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.news__slide {
  height: 308px;
  margin: 0 15px;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.news__link {
  position: relative;
  padding: 16px 14px;
  display: block;
  width: 100%;
  height: 100%;
}

.news__h3 {
  position: absolute;
  left: 14px;
  bottom: 16px;
  max-width: 273px;
  padding: 17px 20px 18px 17px;
  font-size: 16px;
  font-weight: 500;
  color: #303030;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.page-template-page-about .hero {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-template-page-about .hero::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.page-template-page-about .hero__content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 768px;
}

.page-template-page-about h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.footer {
  padding-top: 69px;
  padding-bottom: 133px;
  background-color: #121826;
  color: #fff;
}

.footer a {
  color: inherit;
  text-decoration: none;
  transition: color 0.5s ease;
}

.footer a:hover,
.footer a:active,
.footer a:focus {
  color: #FC622C;
}

.footer svg path {
  transition: fill 0.5s;
}

.footer__top {
  padding: 62px 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.29);
}

.footer .footer__logo {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(16.666666666666668% - 30px);
}

.footer .custom-logo {
  width: 163px;
  -webkit-filter: grayscale(1) opacity(0.9) invert(100%);
          filter: grayscale(1) opacity(0.9) invert(100%);
}

.footer__tel {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(83.33333333333334% - 30px);
  text-align: right;
}

.footer__tel-link {
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 32px;
  line-height: 1;
  font-weight: 600;
}

.footer__tel-link:hover path,
.footer__tel-link:active path,
.footer__tel-link:focus path {
  fill: #FC622C;
}

.footer__middle {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding: 62px 0;
  justify-content: space-between;
}

.footer__nav-title,
.footer .footer__adress-header {
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.46;
  text-transform: uppercase;
}

.footer__nav {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  margin-bottom: 24px;
}

.footer__nav li {
  padding: 8px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.46;
}

.footer__nav:first-child {
  order: 1;
}

.footer__nav:nth-child(2) {
  order: 2;
}

.footer__nav:nth-child(3) {
  order: 3;
}

.footer__adress {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  order: 4;
  text-align: right;
}

.footer__adress-item {
  padding: 8px 0;
}

.footer__adress-tel {
  display: block;
  margin-top: 5px;
}

.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  align-items: center;
}

.footer__bottom-links {
  padding: 20px 0;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

.footer__bottom-links li {
  font-size: 14px;
  opacity: 0.6;
}

.footer__bottom-links li a {
  text-decoration: underline;
}

.footer__soc {
  padding: 20px 0;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  display: flex;
  justify-content: flex-end;
}

.footer__soc a + a {
  margin-left: 18px;
}

.footer__icon:hover path,
.footer__icon:active path,
.footer__icon:focus path {
  fill: #FC622C;
}

.footer__aside {
  font-size: 14px;
  opacity: 0.6;
}

.footer__aside p {
  margin-bottom: 5px;
}

@media screen and (max-width: 992px) {
  .steps__item {
    width: calc(50% - 30px);
  }

  .steps__item {
    padding: 127px 14px 25px;
  }

  .projects__left,
  .projects__right {
    width: calc(100% - 30px);
  }

  .projects__btns {
    flex-wrap: wrap;
  }

  .projects__btns .btn + .btn {
    margin-top: 5px;
    margin-left: 0;
  }

  .page-template-page-about .hero__content {
    min-height: 268px;
  }

  .footer__nav {
    width: calc(50% - 30px);
  }

  .footer__nav:nth-child(2) {
    order: 3;
  }

  .footer__nav:nth-child(2) {
    width: calc(100% - 30px);
  }

  .footer__nav:nth-child(3) {
    order: 2;
  }

  .footer__adress {
    width: calc(100% - 30px);
  }

  .footer__adress {
    text-align: left;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .h2 {
    margin-bottom: 17px;
    font-size: 24px;
  }

  .steps {
    padding-top: 59px;
    padding-bottom: 14px;
  }

  .steps .h2 {
    margin-bottom: 17px;
  }

  .steps .h2-descr {
    margin-bottom: 40px;
    font-size: 16px;
  }

  .steps__item {
    width: calc(100% - 30px);
  }

  .steps__item {
    margin-bottom: 38px;
  }

  .steps__item::before {
    width: 72px;
    height: 72px;
    margin-left: -36px;
    top: -36px;
    line-height: 72px;
    font-size: 30px;
  }

  .steps__title {
    margin-bottom: 11px;
    font-size: 18px;
  }

  .steps__descr {
    min-height: 0;
  }

  .projects {
    padding-top: 53px;
    padding-bottom: 50px;
  }

  .projects .h2 {
    margin-bottom: 17px;
  }

  .projects__item {
    margin-bottom: 40px;
  }

  .projects__img {
    margin-bottom: 19px;
  }

  .projects__link {
    height: 120px;
  }

  .projects__info {
    font-size: 12px;
  }

  .projects__name {
    font-size: 16px;
    margin-bottom: 9px;
  }

  .projects__square {
    margin-bottom: 3px;
    order: 3;
  }

  .projects__price {
    margin-bottom: 8px;
    font-size: 16px;
    order: 2;
  }

  .projects__descr {
    margin-bottom: 10px;
  }

  .projects__btns .btn {
    padding: 13px 8px;
    font-size: 14px;
  }

  .projects__btns-all .btn {
    width: 100%;
  }

  .news {
    padding-top: 48px;
    padding-bottom: 50px;
  }

  .news__title {
    margin-bottom: 18px;
    font-size: 24px;
  }

  .news .slick-prev {
    left: 0;
  }

  .news .slick-next {
    right: 0;
  }

  .news__slide {
    margin: 0;
  }

  .page-template-page-about h1 {
    font-size: 42px;
  }

  .footer {
    padding-top: 15px;
    padding-bottom: 35px;
  }

  .footer__top {
    padding: 29px 0;
  }

  .footer .footer__logo {
    width: calc(25% - 30px);
  }

  .footer .custom-logo {
    width: 75px;
  }

  .footer__tel {
    width: calc(75% - 30px);
  }

  .footer__tel-link {
    font-size: 17px;
  }

  .footer__middle {
    padding: 29px 0;
  }

  .footer__nav-title,
  .footer .footer__adress-header {
    font-size: 18px;
  }

  .footer__nav li {
    padding: 5px 0;
  }

  .footer__bottom-links {
    width: calc(100% - 30px);
  }

  .footer__soc {
    width: calc(100% - 30px);
  }

  .footer__soc {
    justify-content: flex-start;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}