#breadcrumbs {
    margin: 0;

    > span {
        display: block;
        margin-top: 52px;
        margin-bottom: 41px;

        font-size: 16px;
        color: #303030;

        .xs-block({
            margin-top: 12px;
            margin-bottom: 20px;
            font-size: 12px;
        });
    }

    .breadcrumb_last {
        opacity: 0.7;
    }
}