.btn {
    position: relative;
    display: inline-block;

    // padding: 23px 72px;
    padding: 15px 24px;

    font-weight: 500;
    // font-size: 24px;
    font-size: 18px;
    line-height: 1;
    
    color: @white;
    background-color: @accent;

    // border-radius: 35px;
    border-radius: 10px;

    text-decoration: none;
    text-align: center;
    border: 1px solid @accent;

    cursor: pointer;
    transition: all 0.5s;

    // display: flex;
    // justify-content: center;
    // align-items: center;

    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;

    .xs-block({
        // font-size: 14px;
        // padding: 10px 20px;
        // border-radius: 23px;
        padding: 15px;
    });

    &:hover, &:active, a:focus {
        // background-color: darken(@accent, 20%);
        background-color: @white;
        color: @black;
        box-shadow: 0 0 30px @blue;
        border-color: transparent;

    }

    &:disabled, &.disabled {
        opacity: 0.4;
        cursor: default;
        pointer-events: none;
    }
}

.btn-o {
    color: @accent;
    background-color: @white;
    border: 1px solid @accent;

    &:hover, &:active, a:focus {
        color: @black;
        // background-color: @accent;
        border-color: transparent;
    }
}

.btn-blue {
    border: 1px solid #FC622C;
    // background-color: @blue;
    background-color: @white;
    color: @black;

    &:hover, &:active, a:focus {
        border-color: transparent;
        box-shadow: 0 0 30px @blue;
    }
}

.btn-dblue {
    background-color: #1D263B;

    &:hover, &:active, a:focus {
        background-color: #2579A7;
    }
}

.btn-blue-o {
    color: @black;
    background-color: transparent;
    border: 1px solid @blue;

    &:hover, &:active, a:focus {
        color: @white;
        background-color: @blue;
    }
}

.btn:disabled, .btn.disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
}